<section class="row">
  <ul>
    <li>
      <a href="/oauth/authorize">
        Authorize Url
      </a>
    </li>
    <li>
      <a href="/search">
        Search Products
      </a>
    </li>
    <li>
      <a href="/lists">
        Grocery Lists
      </a>
    </li>
  </ul>
</section>
