<p>Items!</p>

<a href="/cart">Add to Cart</a>

<%= for item <- @items do %>
  <p>
    <%= item.brand %>
    <%= item.description %>
    <%= item.product_id %>
    <img src="<%= item.image_url%>">
  </p>
<% end %>

